body{
    display: flex;
    height: 100vh;
    width: 100%;
    position: relative;
    flex-direction: column;
    border: 1px solid hsl(228, 99%, 58%);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 17px;
}
header{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
    background-color: hsl(228, 100%, 60%);
    color: hsl(0, 0%, 100%);
    border: 1px solid hsl(220, 100%, 64%);
    font-weight: 300;
    height: 10%;
    width: 100%;
}
header div{
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
}
header h6{
    margin: 0;
}
nav{
    display: none;
    align-items: end;
    flex-direction: column;
    box-sizing: border-box;
    position: absolute;
    top: -1px;
    right: 0;
    padding: 10px;
    z-index: 10;
    width: 250px;
    height: 100vh;
    box-shadow: 100;
    background-color: hsl(228, 100%, 60%);
}
.close{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 250px;
    padding: 19px;
    border-bottom: 1px solid hsl(220, 100%, 64%);
}
.dot{
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
}
.navitems{
    color: white;
    padding: 2px;
    text-decoration: none; 
}
.navitems:hover{
    color: white;
    text-decoration: underline; 
}
midpart{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    background-color: hsl(228, 100%, 60%);
}
.introduction{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    text-align: center;
    align-items: center;
    color: hsl(0, 0%, 100%);
    border: 1px solid hsl(220, 100%, 64%);
    font-weight: 300;
    width: 40%;
    height: 100%;
}
.introduction:hover{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: hsl(0, 0%, 100%);
    background-color: hsl(220, 100%, 64%);
    border: 1px solid hsl(220, 100%, 64%);
    width: 40%;
    height: 100%;
}
.statistics{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
}
.item{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    height: 100%;
    width: 100%;
    border: 1px solid hsl(220, 100%, 64%);
}
.item:hover{
    display: flex;
    flex-direction: column;
    background-color: hsl(220, 100%, 64%);
}
.statistics1{
    display: flex;
    box-sizing: border-box;
    color: hsl(0, 0%, 100%);
    width: 100%;
    height: 100%;
}
.statistics2{
    display: flex;
    box-sizing: border-box;
    color: hsl(0, 0%, 100%);
    border: 1px solid hsl(220, 100%, 64%);
    width: 100%;
    height: 100%;
}
.stat_descriptions{
    display: flex;
    flex-direction: row-reverse;
    margin: 0;
    justify-content: space-between;
}
.stat_numbers{
    margin-top: 0px;
    font-size: 30px;
}
.stat_icons{
    margin-top: 10px;
}
.stat_p{
    position: relative;
    top: 50%;
    font-size: 14px;
}
.stat_p p{
    font-weight: 300;
    margin-top: 0;
}
.stat_p h4{
    margin-bottom: 0;
}
footer{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    background-color: hsl(228, 100%, 60%);
    border: 1px solid hsl(220, 100%, 64%);
    color: hsl(0, 0%, 100%);
    font-size: 14px;
    font-weight: 300;
    height: 10%;
    width: 100%;
}
.footer_info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
}
#footer_p1{
    font-size: 14px;
    margin-left: 0;
}
.attribution{
     font-size: 11px; text-align: center; 
    color: hsl(0, 0%, 100%);
}
.attribution a{
     color: hsl(228, 45%, 44%); 
}